/* Display the menu select label on the same line as the radio button. */
#menu-link-select-menu-wrapper label {
  display: inline;
  margin-left: 0.5em;
}

/* Hide the tabledrag changed warning, since it doesn't make sense in this context. */
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  .tabledrag-changed-warning,
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  abbr.tabledrag-changed {
  display: none !important;
}

/* Don't change the background of the menu item rows, since they cannot be dragged. */
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  tbody
  tr:hover,
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  tbody
  tr.drag-previous {
  background: none;
}

/* Don't change the cursor on non-current menu item handles, since they cannot be dragged. */
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  tr:not([data-drupal-selector="edit-menu-menu-link-weight-link-current"])
  a.tabledrag-handle {
  cursor: unset;
}

/* Show the non-current menu item handles as gray, since they cannot be dragged. */
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  tr:not([data-drupal-selector="edit-menu-menu-link-weight-link-current"])
  a.tabledrag-handle
  .handle,
[data-menu-helper-loaded="true"]
  [data-drupal-selector="edit-menu-menu-link-weight"]
  tr:not([data-drupal-selector="edit-menu-menu-link-weight-link-current"])
  a.tabledrag-handle:hover
  .handle {
  opacity: 0.2;
  background-image: url("/core/themes/stable/images/core/icons/000000/move.svg");
}

/* Style the menu parent breadcrumbs that are being added above the current level. */
#menu-parent-breadcrumbs {
  margin: 1em 0;
  padding: 0;
}

/* Display the select button to the right of the parent item title. */
#menu-parent-breadcrumbs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-bottom: 1px solid #8d7f5b;
}

/* Display the select button to the right of the menu item title. */
#menu-link-weight-wrapper .menu-item__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-link-weight-wrapper .menu-item__select button {
  margin-left: 0.5rem;
}

/* Style the current item to get it to stand out. */
.menu-link-weight-link-current {
  font-weight: bold;
  line-height: 1.6em;
}
